@import "styles/variables.scss";

.account-summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .separator {
        width: 1px;
        background-color: $divider;
        height: 30px;
    }

    .item {
        display: flex;
        flex-flow: column;
        align-items: center;

        .title {
            color: $text-dark;
            font-weight: 600;
            margin: 0 0 5px 0;
        }

        .result {
            color: $text-dark-secondary;
            margin: 0;
        }
    }
}
