@import "styles/variables.scss";

.error {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50%;

    h2 {
        font-size: 25px;
        font-weight: 500;
        color: $text-dark;
        margin-bottom: 25px;
    }

    p {
        color: $text-dark-secondary;
        text-align: center;
    }
}
